body {
    overflow-x: hidden;
    }

.navbar {
    font-family: 'Comfortaa', cursive;
}

h1 {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

a:hover {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

.carousel-inner {
    max-height: 1200px;
}

.aboutText {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.contactWrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

form {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 5%;
    padding: 25px;
}

iframe {
    border-radius: 5%;
}

footer {
    background-color: rgb(243, 243, 243);
    height: 48px;
    width: 100%;
    margin-top: 25px;
    padding-top: 9px;
    text-align: center;
}