h1 {
    padding: 40px;
}

.thumbnail{
    border: none;
    border-radius: 5%;
}

.carousel-inner {
    max-height: 1200px;
}

a {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

footer {
    background-color: rgb(243, 243, 243);
    height: 48px;
    width: 100%;
    margin-top: 25px;
    padding-top: 9px;
    text-align: center;
}

iframe {
    border-radius: 5%;
}

form {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 5%;
    padding: 30px;
}

p {
    padding: 20px;
}